@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<LibraryInventoryTracker.Models.Book>

@{
    ViewData["Title"] = "Book Archive";
}

<h1>Book Archive</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedOut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.CoverImage) alt=@Html.DisplayFor(modelItem => item.Title) width="250">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutID)
            </td>
            <td>
                @if (@HttpContextAccessor.HttpContext.Session.GetString("Category") == "LIBRARIAN") {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                @if (@HttpContextAccessor.HttpContext.Session.GetString("Category") == "LIBRARIAN") {
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
