@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<LibraryInventoryTracker.Models.Book>

@{
    ViewData["Title"] = "Book Archive";
}

<h1>Book Archive</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">@Html.DisplayNameFor(model => model.Title)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParm"]">@Html.DisplayNameFor(model => model.Author)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageCount)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AvailableSortParm"]">Availability</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.CoverImage) alt=@Html.DisplayFor(modelItem => item.Title) width="250">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
            <td>
                @if (@item?.CheckedOut == false) {
                    <div class="col-sm">
                                Available
                                </div>
                } else { @Html.DisplayFor(modelItem => item.CheckoutID) }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                @if (@HttpContextAccessor.HttpContext.Session.GetString("LoggedOn") == "True") {
                    @if (@item?.CheckedOut == false) {
                        <div class="col-sm">
                            <a asp-action="Checkout" asp-route-id="@item?.ID">Check Out</a>
                        </div>
                    }
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("Category") == "LIBRARIAN") {
                        @if (@item?.CheckedOut == true) {
                            <div class="col-sm">
                                <a asp-action="Return" asp-route-id="@item?.ID">Return</a>
                            </div>
                        }
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
