@model LibraryInventoryTracker.Models.BookArchiveViewModel

@{
    ViewData["Title"] = "Book Archive";
}

<h1>Book Archive</h1>

<div class="row">
    <div class="col-sm">
        @Html.ActionLink("Create", "Create", "Library")
    </div>
    <div class="col-sm">
        @Html.ActionLink("Search", "Index", "Home")
    </div>
</div>

@if (Model != null && Model.Books!.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].CoverImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].PublicationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books![0].PageCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books!)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageCount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>No books have been added yet. Please add a book to begin.</p>
}